@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

.Container {
     margin: auto;
     width: 780px;
     display: flex;
     align-items: stretch;
     gap: 3rem;
     justify-content: center;
     margin-top: 64px;
    //  border: 1px solid #ccc;
     position: relative;
     min-height: 100vh
     
   }
  img {
   
    border: 7px solid #AD7A51;
 
   }
.see-More {
  color: #fff;
  bottom:160px;
  right: -110px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position:absolute;

}
//  {
//   color: y.$Tertiær;

// }a
.see-More button {
  border: #fff;
  background-color: y.$Sekundær;
  padding: 10px 20px;

}

@media screen and (max-width: 760px){
 
  .Container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin: auto;
        align-items: stretch;
        
        margin-top: 64px;
      
        
      }  
      .see-More button {
        padding: 10px 10px;
       
     margin-bottom: -110;
      }
       

    }
   