@use "../../../../Assets/Styled/Colors.scss" as y;
@use "../../../../Assets/Styled/Fonts.scss" as s;

.ED-card {
     margin-top: 0rem;
     margin: auto;
     width: 70%;
     padding: 10px;
     margin: 0 auto;
     display: grid;
     border: 2px solid #AD7A51;
     color: y.$Tertiær;  
     
}
.ED-card img {
     width: 100%;
     display: flex;
     border: 2px solid #AD7A51;
}
.ED-card  h2 {
     font-size: 18px;
     padding-left: 870px;
     margin-bottom: 10px;
   
     
}

.ED-card  h5{
     font-size: 16px;
     margin-top: 20px;
}
.more button{
     
     bottom:60px;
     position:absolute;
}
 button  {
     padding: 10px 10px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     color: #fff;
     background-color: y.$Sekundær;
   }
   .paragraph { color: y.$Sekundær;

   }
   form { background-color: y.$Sekundær;
}
 
.EDF input[type="text"]
 {
  width: 10%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.EDF input[type="password"] 
{
     width: 10%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
.EDF button{
     background-color: green;

}
.whiet{
     color: #fff;
}

   


@media screen and (max-width: 768px) {

     .ED-card {
          margin-top: 0rem;  
     }
     .ED-card img {
          margin: auto;
          max-width: 180px;
          display: flex;
          border: 2px solid #AD7A51;
     }
}
