@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

form{
  width: 100%;
  display: grid;
  justify-content: center;
  background-color: y,y.$Primær;;
}

label {
    
     font-weight: bold;
   }
  
   input{
     width:250px;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
   }
   .sb button{
    padding: 6px 20px;
    border-radius: 3px;
   }
  .sb {
    width: 100%;
  display: grid;
  justify-content: center;

   }
