@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

.Container-list {
     width: 71%;
     margin: 25px;
     margin: 0 auto;
     
     position: relative;
     font-family: s.$fontPlayfair;
    
  img {
    border: 5px solid #AD7A51;
    max-width: 100px;
    text-align: left;
   }
   
  }
 }
 @media screen and (max-width: 760px){
  .Container-list {
    width: 100%;
    align-items: stretch;
    margin-top: 64px;
    
  }
 
 }