@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

.container {
     width: 70%;
     margin: 0 auto;
     display: flex;
     padding: 20px;
     justify-content: center;
     border: 2px solid #AD7A51;
   
   }
   .Buy-Form {
    width:35%;
    // margin-left: 18rem;
   }
   .BY-card {
    width:35%;

   }
   span {
   float: left;
   font-weight: lighter;
   position: relative;
    
   }
   .min-para{
    margin-bottom: 3rem;
   }
   
   
   label {
     display: block;
     font-weight: 100;
   
   }
   
   .Buy-group input[type="text"],
   input[type="email"],
   input[type="password"] {
     width: 30%;
     padding: 8px;
    
    
   }
   
   .BuyB button{
     background-color: y.$Primær;
     color: #fff;
     padding: 7px 10px;
     border: none;
    
     cursor: pointer;
   }
   
  
 
   input,
label {
  margin: 0.4rem 0;

.pris {
     display: block;
  }
}
@media screen and (max-width: 768px){
  .container{
       margin: auto;
       display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}