@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

.container {
  
     max-width: 600px;
     margin: 0 auto;
     padding: 20px;
     border: 1px solid #ccc;
    
     border: 2px solid #AD7A51;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   }
   
   .form-group {
     margin-bottom: 20px;
   }
   
   label {
     display: block;
     font-weight: bold;
   }
   
   input[type="text"],
   input[type="email"],
   input[type="password"] {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
   }
   
   button {
    background-color: y.$Tertiær;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
   
   .image-container {
     margin-top: 20px;
     text-align: center;
   }
   
   img {
    
    
   }
   input,
label {
  margin: 0.4rem 0;

.pris {
     display: block;
  }
}
   