@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

.collected-Nav {
  margin: auto;
    width: 70%;
    padding: 10px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    background-color: y.$white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 14px;
        /*font-weight: 100;*/
        background-color: y.$white;
        font-family:s.$fontPlayfair;
.items {
        margin-right: 23px;
        padding-right: 12px;
        text-transform: uppercase;
        color: y.$Tertiær;
        cursor: pointer;
       
          }
.list {
        list-style-type: none;
        height: 100%;
        display: flex;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        position: relative;
          }
      
  img {
        width: 200px;
        height: 100px;
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       }
.search{
        height: 28px;
        width: 218px;
        margin-left: 260px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-color: rgb(199, 199, 199);
       }


       nav {

         margin-left: 500px;
         position: absolute;
         margin-top: 95px;
         font-size: 20px;
         display: flex;
         float: left;
         align-items: center;
         justify-content: flex-start;
         

         
        .Links {
           margin-left: 20px;
           padding: 5px;
           transition: color 0.2s ease-in-out;
        
        .a {
         color:  y.$Tertiær;
         cursor: pointer;
         background-color:  y.$Primær;
   &.active {
 font-weight: bold;
        
        
        
        }
      }
    }
  }
}
a.items {
   text-decoration: none;
   &:hover {
    color: y.$Primær;
              }


@media screen and (max-width: 760px){
  header {
      padding: 10px;
      font-size: 12px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                   
.list {
        flex-direction: column;
        position: relative;
        height: auto;
                  
    }
.items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
     img{
     height: 50px;
     width: 70px;
    }
.items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
.btn {
        display: block;
    }
                 
   }
   }
}
}
