@use "../../../Assets/Styled/Colors.scss" as y;

.collected-Nav {
  background-color: y.$white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    h1 {
      font-size: 34px;
      color: #333;
      margin: 0;
    }
    
img {
  width: 20%;
}
img {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.search{
  margin:7px;
  display: flex;
 

}
   
.search button{
  background-color: y.$white;
  color: y.$Tertiær;
  justify-content: flex-start;
  float: left;
  padding: 5px 10px;
  margin-left: 20px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

    nav {
      display: flex;
      float: left;
      align-items: center;
      justify-content: flex-start;

      .Links {
        text-decoration: none;
        list-style-type: none;
        margin-left: 20px;
        padding: 5px;
        transition: color 0.2s ease-in-out;
     

        li.header__menu {
          color: #333;
          cursor: pointer;

          &:hover {
            color: y.$Primær;
          }

          &.active {
            font-weight: bold;
            color: #000;
          }
        }
      }
    }
  }
}

