@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

.ED-card {
    width: 70%;
    display: grid;
    border: 2px solid #AD7A51; 
}
.ED-card img {
    width: 100%;
    border: 10px solid #AD7A51;
}
.ED-card  h2 {
     font-size: 16px;
     padding-left: 51rem;
     margin-bottom: 15px;  
}
.ED-card h1{
    color: y.$Sekundær;
}


.ED-card  h5{
     font-size: 16px;
     margin-top: 20px;
     font-weight: lighter;
     text-transform: uppercase
}

.more button{
     
     bottom:60px;
     position:absolute;
     
}
.buyT button  {
    display: flex;
    padding: 0.5em 1em;
    margin-left: 52rem;
    margin-bottom: 20pz;
    color: white;
    background-color: y.$Primær;
    justify-content: space-between;
    h3 {
      color: y.$Primær;
      font-family: s.$fontPlayfair;
      font-size: 3em;
      font-weight: 100;
    }
  button {
      margin-top: 1em;
      padding: 0.5em 1em;
      background-color: y.$Primær;
      font-size: 1.2em;
      font-weight: bold;
      a{
        color: white;
        text-decoration: none;
      }
    }
   }
 
   .para {
     font-size: 16px;
     margin: 0;
     margin-left: 2rem;
     color: y.$Sekundær;
   }
  
.EDF { 
  background-color: y.$Sekundær;
  width: 100%;
}

 
.EDF input[type="text"]
 {
  width: 100%;
  padding: 10px;  
}
.EDF input[type="password"] 
{
  width: 100%;
  padding: 10px;
 
}
.options {
  margin-right: 40rem;
     
    
}
 .EDD button{
     background-color: green;
     width: 10%;
     padding: 10px;
     margin-left: 12rem;
     display: inline-block;
}
.EDF p {
  margin-right: 2rem;
  font-size: 13px;
}
.whiet{
     color: #fff;
}
article {
  width: 100%;
  display: grid;
  color: y.$Primær;
  border: 2px solid #AD7A51;

}
.Actors {
     margin: 1em;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
     gap: 1em;
     
  img {
      border: none;
     }
     }

@media screen and (max-width: 768px) {

.ED-card {
      margin-top: 0rem; 
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
     }
.ED-card img {
      position: relative;
      display: flex;
          
     }
.EDF {
    display: grid;
    width: 100%;
    color: y.$Tertiær; 
      
    }
    .EDF p {
      margin-left: 1rem;
      font-size: 10px;
    }
    .options{
     margin-left: 28rem; 
     width: 100%; 
  
    }
    .EDF input[type="text"]
 {
  width: 15%;
  padding: 10px;  
}
.EDF input[type="password"] 
{
  width: 15%;
  padding: 10px;
 
}
.paragraph {
      padding: 10px;
      Width: 100%;
      }
      
.para {
    font-size: 16px; 
    margin: 5px 0; 
     }
.EDD {
  button{
    width: 10%;
    margin-left: 30rem;
    padding: 4px 5px;
    }

}

  article {
      width: 100%;
      }
.Actors img {
       width: 100%;
      }
      
}
