@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

.thank-card {
     margin: auto;
     width: 70%;
     padding: 10px;
     margin: 0 auto;
     display: grid;
     border: 2px solid #AD7A51;
     color: y.$Tertiær;
}
@media screen and (max-width: 768px){
     .ED-card{
          margin: auto;
          width: 70%;
          padding: 10px;
          margin: 0 auto;
          display: grid;
          border: 2px solid #AD7A51;
          color: y.$Tertiær;
          
          h2{
               font-size: 35px;
               color: #D39D5B;
               font-weight: 200;
          }
}
}