@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;
.PR-card {
     margin: auto;
     width: 70%;
     padding: 10px;
     color: y.$Tertiær;
     border: 2px solid #AD7A51;
     

}
.Review-card {
     text-align:center;
     width: 100%;
     overflow:auto;
     
}
.Like {
     display: flex;
}
.Review-card h4{
     color: y.$Tertiær;
      font-weight: bold;
     

}

.PR-card h3 {
      font-weight: lighter;
}
// button {
//      background-color: y.$Primær ;
//      color: y.$white;
//      border: none;
    
//      padding: 6px 6px;
//      margin-left: 52rem;
    
//    }






@media screen and (max-width: 760px){
     .PR-card {
     width: 70%;
     }

     .PR-card h3 {
          font-size: 10px;
          
          
      }
      
}