@use "../../../../Assets/Styled/Colors.scss" as y;
@use "../../../../Assets/Styled/Fonts.scss" as s;

.ED-card {
     margin: auto;
     width: 70%;
     padding: 10px;
     margin: 0 auto;
     display: grid;
     border: 2px solid #AD7A51;
     color: y.$Tertiær;
}
p h3{
     font-family: s.$fontTitillium;
     font-weight: 100;
     font-size: 12px;
}
h2{
     font-size: 65px;
     color: #D39D5B;
     font-weight: 200;
}
.ED-card img {
     border: 13px solid #AD7A51;
     height: 100%;
}
.text {
     font-size: 26px;
     color: y.$Primær;
     display:block;
     overflow : hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;    
     width: 507px;
     } 

@media screen and (max-width: 768px){
     .ED-card{
          margin: auto;
          display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          
          p h3{
               font-family: s.$fontTitillium;
               font-weight: 100;
               font-size: 12px;
          }
          h2{
               font-size: 12px;
               color: #D39D5B;
               font-weight: 200;
          }
}
}