@use "../../../../Assets/Styled/Colors.scss" as y;
@use "../../../../Assets/Styled/Fonts.scss" as s;

.events-card {
     // position: relative;
     // overflow: hidden;
     flex: 0 1 560px; 
     text-align: center;
     margin: 10px;
     width: 400px;
     border: 2px solid #AD7A51;
     color: y.$Tertiær;
     
     // line-height: 1.4em;
     font-size: 16px;
     height: 400px;
}
.events-card img {
     max-width: 278px;
}
    
  .event-button {
      display: flex;
     }
     .custom-button1 {
          background-color:  y.$Tertiær;
          color: #fff;
          border: none;
          padding: 10px 20px;
          margin: 5px;
          cursor: pointer;
          border-radius: 5px;
        }
        .custom-button2 {
          background-color:  y.$Primær;
          color: #fff;
          border: none;
          padding: 10px 20px;
          margin: 5px;
          cursor: pointer;
          border-radius: 5px;
        }

