@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

.Actors-card {
     margin: 10px;
     color: y.$Tertiær;
     font-size: 16px;
     
}
.Actors-card img {
     max-width: 259px;
}  
.Actors-button {
      display: flex;
     }
.bts{
     background-color:  y.$Tertiær;
     color: #fff;
     border: none;
     padding: 10px 20px;
     margin: 5px;
     cursor: pointer;
     border-radius: 5px;
     }
.custom-button2 {
     background-color:  y.$Primær;
     color: #fff;
     border: none;
     padding: 10px 20px;
     margin: 5px;
     cursor: pointer;
     border-radius: 5px;
        }

