@use "../../../Assets/Styled/Colors.scss" as y;
.list-card {
     position: relative;
     // overflow: hidden;
     grid: 0 1 260px; 
     text-align: center;
     margin: 10px;
     width: 100%;
     border: 2px solid #AD7A51;
     color: y.$Tertiær;
     
     // line-height: 1.4em;
     font-size: 16px;
     height: 360px;
}
.list-card img {
     max-width: 159px;
}
    
  .event-button {
      display: flex;
     }
     .custom-button1 {
          background-color:  y.$Tertiær;
          color: #fff;
          font-size: 6px;
          border: none;
          padding: 10px 10px;
          margin: 5px;
          cursor: pointer;
          border-radius: 5px;
        }
        .custom-button2 {
          background-color:  y.$Primær;
          color: #fff;
          font-size: 6px;
          border: none;
          padding: 10px 10px;
          margin: 5px;
          cursor: pointer;
          border-radius: 5px;
        }

