@use "../../../Assets/Styled/Colors.scss" as y;

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.1rem 0rem;
  background-color: y.$Tertiær;

  p {
    font-size: 1em;
    // font-family: "Open-sans", sans-serif;
    // color: s.$darkgrey;
    font-weight: 200;
    padding-left: 0.1rem;
  }


    }
  


@media screen and (max-width: 768px) {
  .main-footer {
    flex-direction: column;

    p {
      padding-left: 1rem;
    }

   
    }
  }
