@use "../../../Assets/Styled/Colors.scss" as y;
@use "../../../Assets/Styled/Fonts.scss" as s;

.Actors-card {
     margin: 10px;
     color: y.$Tertiær;
     font-size: 16px;
   height: 40%;
     
}
.Actors-card img {
     max-width: 259px;
}  

.bts{
     background-color:  y.$Tertiær;
     color: #fff;
     border: none;
     padding: 10px 10px;
     margin: 5px;
     cursor: pointer;
     border-radius: 5px;
     }
